﻿@model FinalDesarrollWeb.Models.VendedorModel

@{
    ViewData["Title"] = "Registro";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>Registro</title>
    <link rel="stylesheet" href="https://maxcdn.
          
          
          
          
          
          
          cdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            color: #fff;
            background: #ffffff;
            font-family: 'Roboto', sans-serif;
        }

        .form-control {
            height: 40px;
            box-shadow: none;
            color: #969fa4;
        }

            .form-control:focus {
                border-color: #5cb85c;
            }

        .form-control, .btn {
            border-radius: 3px;
        }

        .signup-form {
            width: 400px;
            margin: 0 auto;
            padding: 30px 0;
        }

            .signup-form h2 {
                color: #636363;
                margin: 0 0 15px;
                position: relative;
                text-align: center;
            }

                .signup-form h2:before, .signup-form h2:after {
                    content: "";
                    height: 2px;
                    width: 10%;
                    background: #d4d4d4;
                    position: absolute;
                    top: 50%;
                    z-index: 2;
                }

                .signup-form h2:before {
                    left: 0;
                }

                .signup-form h2:after {
                    right: 0;
                }

            .signup-form .hint-text {
                color: #999;
                margin-bottom: 30px;
                text-align: center;
            }

            .signup-form form {
                color: #999;
                border-radius: 3px;
                margin-bottom: 15px;
                background: #f2f3f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .signup-form .form-group {
                margin-bottom: 20px;
            }

            .signup-form input[type="checkbox"] {
                margin-top: 3px;
            }

            .signup-form .btn {
                font-size: 16px;
                font-weight: bold;
                min-width: 140px;
                outline: none !important;
            }

            .signup-form .row div:first-child {
                padding-right: 10px;
            }

            .signup-form .row div:last-child {
                padding-left: 10px;
            }

            .signup-form a {
                color: #fff;
                text-decoration: underline;
            }

                .signup-form a:hover {
                    text-decoration: none;
                }

            .signup-form form a {
                color: #636363;
                text-decoration: none;
            }

                .signup-form form a:hover {
                    text-decoration: underline;
                }
    </style>
</head>

<body>
    <div class="signup-form">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Registro de usuario</h2>

            <div class="form-group">
                <div class="row">

                    <div class="col-xs-6"><input type="text" asp-for="firstName" class="form-control" placeholder="Nombre(s)" required="required"></div>
                    <span asp-validation-for="firstName" class="text-danger"></span>

                    <div class="col-xs-6"><input type="text" asp-for="lastName" class="form-control" placeholder="Apellido(s)" required="required"></div>
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="text" asp-for="username" class="form-control" placeholder="Nombre de Usuario" required="required">
                <span asp-validation-for="username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="email" asp-for="address" class="form-control" placeholder="Email" required="required">
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="password" class="form-control" placeholder="Contraseña" required="required">
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="usuario_password" name="usuario_password" placeholder="Confirmar contraseña" required="required">
            </div>
            <div class="form-group">
                <label class="checkbox-inline"><input type="checkbox" required="required"> Acepto los <a href="#">terminos y condiciones</a></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Crear cuenta</button>
            </div>
     
        </form>
        @*<div class="text-center">Already have an account? <a href="#">Sign in</a></div>*@
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>


