﻿<!-- >Para importar el modelo</!-->
@model TareaDesarrolloWeb.Models.ClienteModel

<h1>Registro de Clientes</h1>
<hr />

<div class="row">
    <div class="col-sm-4">

        <form asp-action="CrearCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- >Este codigo es para indicar que los campos son obligatorios</!-->
            <!-- Para codigo Cliente-->
            <div class="form-group">
                <label asp-for="CodigoCliente" class="control-label"></label>
                <input asp-for="CodigoCliente" class="form-control" />
                <span asp-validation-for="CodigoCliente" class="text-danger"></span>
            </div>

            <!-- Para nombre Cliente-->
            <div class="form-group">
                <label asp-for="NombreCliente" class="control-label"></label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>

            <!-- Para direccion Cliente-->
            <div class="form-group">
                <label asp-for="DireccionCliente" class="control-label"></label>
                <input asp-for="DireccionCliente" class="form-control" />
                <span asp-validation-for="DireccionCliente" class="text-danger"></span>
            </div>

            <!-- Para genero Cliente-->
            <div class="form-group">
                <label asp-for="GeneroCliente" class="control-label"></label>
                <input asp-for="GeneroCliente" class="form-control" />
                <span asp-validation-for="GeneroCliente" class="text-danger"></span>
            </div>

            <!-- Para profesion persona-->
            <div class="form-group">
                <label asp-for="ProfesionCliente" class="control-label"></label>
                <input asp-for="ProfesionCliente" class="form-control" />
                <span asp-validation-for="ProfesionCliente" class="text-danger"></span>
            </div>

            <!-- Para fecha nacimiento Cliente-->
            <div class="form-group">
                <label asp-for="fechaNacimientoCliente" class="control-label"></label>
                <input asp-for="fechaNacimientoCliente" class="form-control" />
                <span asp-validation-for="fechaNacimientoCliente" class="text-danger"></span>
            </div>

            <!-- Para edad Cliente-->
            <div class="form-group">
                <label asp-for="EdadCliente" class="control-label"></label>
                <input asp-for="EdadCliente" class="form-control" />
                <span asp-validation-for="EdadCliente" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Crear Cliente" class="btn btn-primary" />
            </div>

        </form>

    </div>
</div>
