﻿@model FinalDesarrollWeb.Models.NotaCredito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotaCredito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
</div>
<div>
    <--a asp-action="Edit" asp-route-id="@Model.id">Actualizar</--a> |
    <a asp-action="Index">Regresar</a>
</div>
